<div
  role="radiogroup"
  [attr.aria-labelledby]="id"
  class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
  role="radio"
  [attr.aria-checked]="value=== options.YES"
  type="button"
  class="button button-yes"
  (click)="active(options.YES)"
  [class.button-pressed]="value === options.YES">
    Yes
  </button>
  <button
  [attr.aria-checked]="value=== options.NO"
  role="radio"
  type="button"
  class="button button-no"
  (click)="active(options.NO)"
  [class.button-pressed]="value === options.NO"
  >
    No
  </button>
</div>
